<!--chat Row -->
<ul class="chat-list list-style-none px-3 pt-3">
    {% for rows in chat %}
        {% if rows.id_users == app.user.id_users %}
            <li class="chat-item odd list-style-none mt-3">
                <div class="chat-content text-right d-inline-block pl-3">
                    <div class="box msg p-2 d-inline-block mb-1">{{ rows.pesan }}</div>
                    <br>
                </div>
                <div class="chat-time text-right d-block font-10 mt-1 mr-0 mb-3">{{ rows.date_send|date('H:i') }} | You</div>
            </li>
        {% else %}
            <li class="chat-item list-style-none mt-3">
                <div class="chat-img d-inline-block"><img
                        src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg"
                        alt="user" class="rounded-circle" width="45">
                </div>
                <div class="chat-content d-inline-block pl-3">
                    <div class="msg p-2 d-inline-block mb-1">{{ rows.pesan }}</div>
                </div>
                <div class="chat-time d-block font-10 mt-1 mr-0 mb-3">{{ rows.date_send|date('H:i') }} | User</div>
            </li>
        {% endif %}
    {% endfor %}
</ul>